USE [UDEMY]
GO
ALTER TABLE [dbo].[INSTRUCTORES] DROP CONSTRAINT [FK__INSTRUCTO__id_US__4F7CD00D]
GO
ALTER TABLE [dbo].[CURSOS] DROP CONSTRAINT [FK__CURSOS__id_SUBCA__52593CB8]
GO
ALTER TABLE [dbo].[CURSOS] DROP CONSTRAINT [FK__CURSOS__id_INSTR__5070F446]
GO
ALTER TABLE [dbo].[CURSOS] DROP CONSTRAINT [FK__CURSOS__id_CATEG__5165187F]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__fecha___49C3F6B7]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__imagen__48CFD27E]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__introd__47DBAE45]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__titulo__46E78A0C]
GO
/****** Object:  Table [dbo].[USUARIOS_has_METODO_PAGOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS_has_METODO_PAGOS]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIOS_has_METODO_PAGOS]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIOS]
GO
/****** Object:  Table [dbo].[TARJETAS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TARJETAS]') AND type in (N'U'))
DROP TABLE [dbo].[TARJETAS]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SUSCRIPCIONES_has_USUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[SUSCRIPCIONES_has_USUARIOS]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SUSCRIPCIONES]') AND type in (N'U'))
DROP TABLE [dbo].[SUSCRIPCIONES]
GO
/****** Object:  Table [dbo].[ROLES_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ROLES_has_USUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[ROLES_has_USUARIOS]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ROLES]') AND type in (N'U'))
DROP TABLE [dbo].[ROLES]
GO
/****** Object:  Table [dbo].[PAGINAS_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGINAS_has_USUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[PAGINAS_has_USUARIOS]
GO
/****** Object:  Table [dbo].[PAGINAS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGINAS]') AND type in (N'U'))
DROP TABLE [dbo].[PAGINAS]
GO
/****** Object:  Table [dbo].[METODO_PAGOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[METODO_PAGOS]') AND type in (N'U'))
DROP TABLE [dbo].[METODO_PAGOS]
GO
/****** Object:  Table [dbo].[LENGUAJES]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LENGUAJES]') AND type in (N'U'))
DROP TABLE [dbo].[LENGUAJES]
GO
/****** Object:  Table [dbo].[INSTRUCTORES]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSTRUCTORES]') AND type in (N'U'))
DROP TABLE [dbo].[INSTRUCTORES]
GO
/****** Object:  Table [dbo].[FILTROS_DETALLE]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FILTROS_DETALLE]') AND type in (N'U'))
DROP TABLE [dbo].[FILTROS_DETALLE]
GO
/****** Object:  Table [dbo].[FILTROS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FILTROS]') AND type in (N'U'))
DROP TABLE [dbo].[FILTROS]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FACTURA]') AND type in (N'U'))
DROP TABLE [dbo].[FACTURA]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DETALLE_FACTURA]') AND type in (N'U'))
DROP TABLE [dbo].[DETALLE_FACTURA]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]') AND type in (N'U'))
DROP TABLE [dbo].[DETALLE_COMPRA]
GO
/****** Object:  Table [dbo].[CURSOS_TEMAS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CURSOS_TEMAS]') AND type in (N'U'))
DROP TABLE [dbo].[CURSOS_TEMAS]
GO
/****** Object:  Table [dbo].[CURSOS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CURSOS]') AND type in (N'U'))
DROP TABLE [dbo].[CURSOS]
GO
/****** Object:  Table [dbo].[CUPONES]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUPONES]') AND type in (N'U'))
DROP TABLE [dbo].[CUPONES]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPRAS]') AND type in (N'U'))
DROP TABLE [dbo].[COMPRAS]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 11/23/2023 05:54:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CATEGORIAS]') AND type in (N'U'))
DROP TABLE [dbo].[CATEGORIAS]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[id] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
	[estado] [varchar](45) NULL,
	[orden] [int] NULL,
	[nivel] [int] NULL,
	[id_CATEGORIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[id] [int] NOT NULL,
	[SUSCRIPCIONES_id] [int] NOT NULL,
	[USUARIOS_id] [int] NOT NULL,
	[estado] [varchar](45) NULL,
	[id_USUARIO_REGALO] [int] NULL,
	[precio_final] [decimal](18, 0) NULL,
	[COMPRAScol] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPONES]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPONES](
	[id] [int] NOT NULL,
	[cupon] [varchar](45) NULL,
	[tipo_cupon] [varchar](45) NULL,
	[descuento] [decimal](18, 0) NULL,
	[fecha_expiracion] [datetime] NULL,
	[fecha_activacion] [varchar](45) NULL,
	[CURSOS_id] [int] NOT NULL,
	[CURSOS_id_INSTRUCTOR] [int] NOT NULL,
	[estado] [varchar](45) NULL,
	[num_cupones] [int] NULL,
	[precio_final] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOS](
	[id] [int] NOT NULL,
	[curso] [varchar](100) NOT NULL,
	[precio] [decimal](18, 0) NOT NULL,
	[calificacion] [decimal](18, 0) NULL,
	[introduccion] [varchar](255) NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
	[imagen] [varbinary](max) NULL,
	[estado] [varchar](45) NOT NULL,
	[id_INSTRUCTOR] [int] NOT NULL,
	[id_CATEGORIAS] [int] NOT NULL,
	[id_SUBCATEGORIAS] [int] NOT NULL,
	[url] [varchar](100) NULL,
	[duracion] [decimal](18, 0) NULL,
	[nro_clases] [int] NULL,
	[nivel] [varchar](45) NULL,
	[nivel_subscripcion] [varchar](45) NULL,
	[subtitulo] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[Adquisiciones] [int] NULL,
	[nro_venta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_INSTRUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOS_TEMAS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOS_TEMAS](
	[CURSOS_id] [int] NOT NULL,
	[CURSOS_id_INSTRUCTOR] [int] NOT NULL,
	[CATEGORIAS_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CURSOS_id] ASC,
	[CURSOS_id_INSTRUCTOR] ASC,
	[CATEGORIAS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[COMPRAS_id] [int] NOT NULL,
	[CURSOS_id] [int] NOT NULL,
	[CURSOS_id_INSTRUCTOR] [int] NOT NULL,
	[CUPONES_id] [int] IDENTITY(1,1) NOT NULL,
	[precio_final] [decimal](18, 0) NULL,
	[descuentos] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPRAS_id] ASC,
	[CURSOS_id] ASC,
	[CURSOS_id_INSTRUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[FACTURA_id_USUARIO] [int] NOT NULL,
	[FACTURA_id_METODOPAGO] [int] NOT NULL,
	[FACTURA_id] [varchar](45) NOT NULL,
	[precio_final] [varchar](45) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[id] [varchar](45) NOT NULL,
	[num_factura] [varchar](45) NULL,
	[id_USUARIO] [int] NOT NULL,
	[id_METODOPAGO] [int] NOT NULL,
	[id_COMPRAS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_USUARIO] ASC,
	[id_METODOPAGO] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTROS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTROS](
	[id] [int] NOT NULL,
	[descripcion] [varchar](45) NOT NULL,
	[orden] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTROS_DETALLE]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTROS_DETALLE](
	[id_FILTRO] [int] NOT NULL,
	[id_ORDEN] [int] NOT NULL,
	[opcion] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_FILTRO] ASC,
	[id_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTORES]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTORES](
	[id] [int] NOT NULL,
	[id_USUARIO] [int] NOT NULL,
	[calificacion] [decimal](18, 0) NULL,
	[cant_valoraciones] [int] NULL,
	[nro_cursos] [int] NULL,
	[nro_estudiantes] [bigint] NULL,
	[imagen] [varbinary](max) NULL,
	[url] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENGUAJES]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENGUAJES](
	[id] [int] NOT NULL,
	[lenguaje] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGOS](
	[id] [int] NOT NULL,
	[descripcion] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGINAS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGINAS](
	[id] [int] NOT NULL,
	[pagina] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGINAS_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGINAS_has_USUARIOS](
	[id_PAGINA] [int] NOT NULL,
	[id_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_PAGINA] ASC,
	[id_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [int] NOT NULL,
	[rol] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_has_USUARIOS](
	[id_ROL] [int] NOT NULL,
	[id_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ROL] ASC,
	[id_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCIONES](
	[id] [int] NOT NULL,
	[id_USUARIO] [int] NOT NULL,
	[empresa] [varchar](45) NULL,
	[correo_empresa] [varchar](45) NULL,
	[num_contacto] [varchar](45) NULL,
	[puesto] [varchar](45) NULL,
	[nro_subs] [varchar](45) NULL,
	[subdominio] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES_has_USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCIONES_has_USUARIOS](
	[SUSCRIPCIONES_id] [int] NOT NULL,
	[USUARIOS_id] [int] NOT NULL,
	[fecha_subscripcion] [varchar](45) NULL,
	[fecha_expiracion] [varchar](45) NULL,
	[estado] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUSCRIPCIONES_id] ASC,
	[USUARIOS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETAS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETAS](
	[id] [int] NOT NULL,
	[nombre_tarjeta] [varchar](45) NOT NULL,
	[num_tarjeta] [int] NOT NULL,
	[fecha_vencimiento] [datetime] NOT NULL,
	[cod_tarjeta] [varchar](45) NOT NULL,
	[METODO_PAGOS_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id] [int] NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellidos] [varchar](255) NOT NULL,
	[correo] [varchar](45) NOT NULL,
	[clave] [varchar](45) NOT NULL,
	[titulo] [varchar](45) NULL,
	[introduccion] [varchar](255) NULL,
	[imagen] [varbinary](max) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_cese] [datetime] NULL,
	[estado] [varchar](45) NOT NULL,
	[id_lenguaje] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS_has_METODO_PAGOS]    Script Date: 11/23/2023 05:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_has_METODO_PAGOS](
	[USUARIOS_id] [int] NOT NULL,
	[METODO_PAGOS_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOS_id] ASC,
	[METODO_PAGOS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIAS] ([id], [descripcion], [estado], [orden], [nivel], [id_CATEGORIA]) VALUES (1, N'DESARROLLO', N'ACTIVA', 1, 1, 0)
INSERT [dbo].[CATEGORIAS] ([id], [descripcion], [estado], [orden], [nivel], [id_CATEGORIA]) VALUES (2, N'Ingenieria de Software', N'INACTIVA', 1, 2, 1)
INSERT [dbo].[CATEGORIAS] ([id], [descripcion], [estado], [orden], [nivel], [id_CATEGORIA]) VALUES (3, N'Testeo de Software', N'ACTIVA', 10, 2, 1)
GO
INSERT [dbo].[INSTRUCTORES] ([id], [id_USUARIO], [calificacion], [cant_valoraciones], [nro_cursos], [nro_estudiantes], [imagen], [url]) VALUES (1, 1, CAST(5 AS Decimal(18, 0)), 50, 10, 200, NULL, N'https://ejemplo.com/instructor-1')
INSERT [dbo].[INSTRUCTORES] ([id], [id_USUARIO], [calificacion], [cant_valoraciones], [nro_cursos], [nro_estudiantes], [imagen], [url]) VALUES (2, 2, CAST(5 AS Decimal(18, 0)), 45, 8, 180, NULL, N'https://ejemplo.com/instructor-2')
INSERT [dbo].[INSTRUCTORES] ([id], [id_USUARIO], [calificacion], [cant_valoraciones], [nro_cursos], [nro_estudiantes], [imagen], [url]) VALUES (3, 3, CAST(5 AS Decimal(18, 0)), 55, 12, 220, NULL, N'https://ejemplo.com/instructor-10')
GO
INSERT [dbo].[USUARIOS] ([id], [nombres], [apellidos], [correo], [clave], [titulo], [introduccion], [imagen], [fecha_creacion], [fecha_cese], [estado], [id_lenguaje]) VALUES (3, N'Pedro', N'González', N'pedro@example.com', N'clave789', N'Ingeniero', N'¡Hola! Soy Pedro, un ingeniero entusiasta.', NULL, CAST(N'2023-11-23T13:39:01.430' AS DateTime), NULL, N'Activo', 3)
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (NULL) FOR [titulo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (NULL) FOR [introduccion]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (NULL) FOR [imagen]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (NULL) FOR [fecha_cese]
GO
ALTER TABLE [dbo].[CURSOS]  WITH CHECK ADD FOREIGN KEY([id_CATEGORIAS])
REFERENCES [dbo].[CATEGORIAS] ([id])
GO
ALTER TABLE [dbo].[CURSOS]  WITH CHECK ADD FOREIGN KEY([id_INSTRUCTOR])
REFERENCES [dbo].[INSTRUCTORES] ([id])
GO
ALTER TABLE [dbo].[CURSOS]  WITH CHECK ADD FOREIGN KEY([id_SUBCATEGORIAS])
REFERENCES [dbo].[CATEGORIAS] ([id])
GO
ALTER TABLE [dbo].[INSTRUCTORES]  WITH CHECK ADD FOREIGN KEY([id_USUARIO])
REFERENCES [dbo].[USUARIOS] ([id])
GO
